<h1>InventarTool Dashboard</h1>
<div id="user">Angemeldet als: <%= @user_name + " (" + @user_uid + ")"%></div>
<p>Overview</p>
<h2>Server</h2>
<p><%= link_to "Manage Servers", servers_path%></p>

<h2>Notebooks</h2>
<p><%= link_to "Manage Notebooks", notebooks_path%></p>

<h2>Displays</h2>
<p><%= link_to "Manage Displays", displays_path%></p>

<h2>Disks</h2>
<p><%= link_to "Manage Disks", disks_path%></p>

<h2>Rams</h2>
<p><%= link_to "Manage Rams", rams_path%></p>

<h2>Owners</h2>
<p><%= link_to "Manage Owners", owners_path%></p>

<h2>Distributors</h2>
<p><%= link_to "Manage Distributors", distributors_path%></p>

<h2>Stock</h2>
<p><%= link_to "Manage Stock", stock_objects_path%></p>