<% #  | # COPYRIGHT HEADER START # 
# |   InventarTool - Web Application to manage hardware and components inventory
# |   Copyright (C) 2011  Puzzle ITC GmbH www.puzzle.ch
# |   
# |   This program is free software: you can redistribute it and/or modify
# |   it under the terms of the GNU Affero General Public License as
# |   published by the Free Software Foundation, either version 3 of the
# |   License, or (at your option) any later version.
# |   
# |   This program is distributed in the hope that it will be useful,
# |   but WITHOUT ANY WARRANTY; without even the implied warranty of
# |   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# |   GNU Affero General Public License for more details.
# |   
# |   You should have received a copy of the GNU Affero General Public License
# |   along with this program.  If not, see <http://www.gnu.org/licenses/>.
# | # COPYRIGHT HEADER END # 
 %> 

<h1>Searchlist</h1>
<form name="hallo" >	
	<p>From: <input type="date" name="lowest_warranty_end_date" size="30" value="<%= @low_warranty%>" maxlength="30" /> *To:<input type="date" name="warranty_end_date" value="<%= @max_warranty%>" size="30" maxlength="30" /></p>
	<input type="submit" value="Search" />
</form>
<div class="field">
<h4>Notebooks</h4>
<%= table(@notebooks) do |t|
	t.attrs :model, :serial_number, :warranty_till
end%>
<h4>Servers</h4>
<%= table(@servers) do |t|
	t.attrs :model, :serial_number, :warranty_till
end%>
<h4>Disks</h4>
<%= table(@disks) do |t|
	t.attrs :model, :serial_number, :warranty_till
end%>
</div>