<% #  | # COPYRIGHT HEADER START # 
# |   InventarTool - Web Application to manage hardware and components inventory
# |   Copyright (C) 2011  Puzzle ITC GmbH www.puzzle.ch
# |   
# |   This program is free software: you can redistribute it and/or modify
# |   it under the terms of the GNU Affero General Public License as
# |   published by the Free Software Foundation, either version 3 of the
# |   License, or (at your option) any later version.
# |   
# |   This program is distributed in the hope that it will be useful,
# |   but WITHOUT ANY WARRANTY; without even the implied warranty of
# |   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# |   GNU Affero General Public License for more details.
# |   
# |   You should have received a copy of the GNU Affero General Public License
# |   along with this program.  If not, see <http://www.gnu.org/licenses/>.
# | # COPYRIGHT HEADER END # 
 %> 

<h3><%=pluralize(@entry.disks.count, "disk")%> attached</h3>
<ul>
<% @entry.disks.each do |d| %>
<li><%= link_to "#{d.model} #{d.capacity}GB", disk_path(d.id)%> |
	<%= link_action 'detach', 'delete', url_options = {:controller => 'disks', :id => d.id, :action => 'detach'}, :confirm => "Are you sure?" %>
	<%= link_to "Same Disks", disks_path + "?utf8=✓&returning=true&q=" + (d.model).to_s, :target=>"_blank"%>
</li>
<% end %>
</ul>
<%= link_action 'Add disk', 'add', :controller => "repository", :id => "#{@entry.id}", :machine_type => "#{model_class.table_name}", :entry => "disk"%>