<% #  | # COPYRIGHT HEADER START # 
# |   InventarTool - Web Application to manage hardware and components inventory
# |   Copyright (C) 2011  Puzzle ITC GmbH www.puzzle.ch
# |   
# |   This program is free software: you can redistribute it and/or modify
# |   it under the terms of the GNU Affero General Public License as
# |   published by the Free Software Foundation, either version 3 of the
# |   License, or (at your option) any later version.
# |   
# |   This program is distributed in the hope that it will be useful,
# |   but WITHOUT ANY WARRANTY; without even the implied warranty of
# |   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# |   GNU Affero General Public License for more details.
# |   
# |   You should have received a copy of the GNU Affero General Public License
# |   along with this program.  If not, see <http://www.gnu.org/licenses/>.
# | # COPYRIGHT HEADER END # 
 %> 

<h2>Changes:</h2>
<% @diffary.each do |version_hash| %>
  <%number = version_hash[:version]; version = version_hash[:diff] %>
  <table class="version" >
  <tr><td colspan="3"><%= "version #{number} by #{version.delete(:creator)} on #{version.delete(:updated_at).strftime("%A, %Y-%m-%d %H:%M")}" %></td></tr>
  <tr><td class="key">Notice: </td><td colspan="2"><%= "#{version.delete(:change_notice)}" %></td></tr>
  	<% version.each do |key, c| %>
  		<tr>
  			<td class="key"><%= key %></td>
  			<td><%= c[0] %></td>
  			<td><%= c[1]%></td>
  		</tr>
  	<% end %>
  </table>
  <br>
<% end %>
<%= will_paginate @diffary %>
<br>

