<%= crud_form(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this ram from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.labeled_input_fields :name, :model, :processor, :purchase_date%>
  <div class="labeled">
    <div class="caption"><%= f.label :warranty_duration %></div>
    <div class="value"><%= f.text_field :warranty_till %></div>
  </div>
<%= f.labeled_input_fields :rack_units, :serial_number, :price, :notes, :in_repair, :distributor_id%>
<%end%>