<h3><%=pluralize(@entry.rams.count, "ram")%> attached</h3>
<ul>
<% @entry.rams.each do |r| %>
<li><%= link_to "#{r.description} #{r.capacity}GB", ram_path(r.id)%> |
	<%= link_action 'detach', 'delete', url_options = {:controller => 'rams', :id => r.id, :action => 'detach'}, :confirm => "Are you sure?" %>
	<%= link_to "Same RAMS", rams_path + "?utf8=✓&returning=true&q=" + (r.description).to_s, :target=>"_blank"%>
</li>
<% end %>
</ul>
<%= link_action 'Add ram', 'add', :controller => "repository", :id => "#{@entry.id}", :machine_type => "#{model_class.table_name}"%>