<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this ram from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :machine_type %><br />
    <%= select("ram", "machine_type", @machine_types, {:prompt => 'Select Machine Type'}, :onchange => 'refreshMachineChoice(this);') %>
    <%= javascript_tag :defer => 'defer' do -%>
    	function refreshMachineChoice(select_tag) {
			var choice_tag = document.getElementById(select_tag.value);
			document.getElementById("Server").style.display = 'none';
			document.getElementById("Notebook").style.display = 'none';
			if (choice_tag != undefined) {
				choice_tag.style.display = 'block';
			}
    	}
	<% end -%>
  </div>
  <div style="height:35px;">
	  <div id="Server" class="field" style="display:none;">
	    <%= f.label "Servers" %><br />
	    <%= f.collection_select(:machine_id, @servers, :id, :model) %>
	  </div>
	  <div id="Notebook" class="field" style="display:none;">
	    <%= f.label "Notebooks" %><br />
	    <%= f.collection_select(:machine_id, @notebooks, :id, :model) %>
	  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>