<% #  | # COPYRIGHT HEADER START # 
# |   InventarTool - Web Application to manage hardware and components inventory
# |   Copyright (C) 2011  Puzzle ITC GmbH www.puzzle.ch
# |   
# |   This program is free software: you can redistribute it and/or modify
# |   it under the terms of the GNU Affero General Public License as
# |   published by the Free Software Foundation, either version 3 of the
# |   License, or (at your option) any later version.
# |   
# |   This program is distributed in the hope that it will be useful,
# |   but WITHOUT ANY WARRANTY; without even the implied warranty of
# |   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# |   GNU Affero General Public License for more details.
# |   
# |   You should have received a copy of the GNU Affero General Public License
# |   along with this program.  If not, see <http://www.gnu.org/licenses/>.
# | # COPYRIGHT HEADER END # 
 %> 

<div class="field">
	<h3>Rams</h3>
	<%= form_tag( { :action => "attach", }, { :method => :post }) %>
	<table>
  <tr>
  	<%@table_headers.each do |a|%>
    <th><%="#{a}"%></th>
    <%end%>
    <th>Attach?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @list.each do |element| %>
  <tr>
  	<% element[:attrs].each do |attr| %>
    	<td><%= attr %></td>
    <%end%>
    <td><%= check_box("#{element[:id]}", "attach",{}) %></td>
  </tr>
<% end %>
</table>
<input type="hidden" name="id" value="<%= @machine_id%>">
<input type="hidden" name="machine_type" value="<%= @machine_type%>">
<input type="hidden" name="components" value="<%= @components%>">
<%= submit_tag "Save"%>
</form>
</div>
