<li><%= link_to "Servers", servers_path%></li>
<li><%= link_to "Notebooks", notebooks_path%></li>
<li><%= link_to "Displays", displays_path%></li>
<li><%= link_to "Rams", rams_path%></li>
<li><%= link_to "Disks", disks_path%></li>
<li><%= link_to "Owners", owners_path%></li>
<li><%= link_to "Distributors", distributors_path%></li>
<li><%= link_to "Stock", stock_objects_path%></li>
<li><%= link_to "Warranty", :warranty %></li>
<li id="menu_stop"><a>&nbsp;</a></li>